<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Salus_Core.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <Salus_Core.Settings>
            <setting name="conexao" serializeAs="String">
                <value>Data Source=.\SALUSSVR;Initial Catalog=SALUSOS;User Id=sa;Password=DD1t3c</value>
            </setting>
        </Salus_Core.Settings>
    </userSettings>
    <connectionStrings>
        <add name="MinhaConexao" connectionString="Server=localhost,1433;DataBase=SALUSOS;User Id=sa;Password=S4lu2_0s;Trusted_Connection=True" providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>